<div id="content" class="d-flex flex-row mx-auto justify-content-center">
    <div id="contactsBook" class="mr-5 w-50">
        <div class="d-flex flex-row mb-3">
            <h3>Contacts Book</h3>
            <div class="ml-auto">
                 <button class="btn btn-primary"
                 id="add-button"
                 (click)="openModal(addContactModalTemplate)">Add new contact</button>
            </div>
         </div>
        <div class="table-responsive">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Index</th>
                <th>First name</th>
                <th>Last name</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let contact of contacts$ | async; let i=index"
            id="contact-row-{{i}}"
            [ngClass]="{'table-primary': i === selectedIndex}"
            (click)="selectContact(i);">
                <td>{{i+1}}</td>
                <td>{{contact.firstName}}</td>
                <td>{{contact.lastName}}</td>
            </tr>
        </tbody>
    </table>
        </div>
    </div>
    <div  id="contactDetails" class="ml-md-5 w-25">
        <app-contact-details></app-contact-details>
    </div>
</div>

<ng-template #addContactModalTemplate>
    <app-contact-add></app-contact-add>
</ng-template>
